@using System.Linq.Expressions

<div class="form-group">
    <label for="@Id">@Label</label>
    <select id="@Id" Value="@Value" ValueChanged="@ValueChanged" ValueExpression="@ValueExpression" class="form-control">
        @foreach(var option in Options)
        {
            <option value="@option.Key">@option.Value</option>
        }
    </select>
    <ValidationMessage For="@ValueExpression" />
</div>
@code {
    [Parameter] public Dictionary<string, string> Options { get; set; } = new();
    [Parameter] public string? Label { get; set; }
    [Parameter] public string? Id { get; set; }
    [Parameter] public string? Value { get; set; }
    [Parameter] public EventCallback<string> ValueChanged { get; set; }
    [Parameter] public Expression<Func<string>>? ValueExpression { get; set; }
}
